@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: #c4c4c4;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 10px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
.image {
  width: 35px;
  height: 35px;
  border: 2px solid #111;
  border-radius: 50%;
  background-image: url(https://cdn1.photostockeditor.com/c/2711/grayscale-photography-of-woman-facing-sideways-human-people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.side-icon {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i.fa-bars {
  padding: 0 6px;
  color: #fe8e66;
}
.wrapper {
  margin: 80px 20px 10px;
  background-color: #fff;
  padding: 20px;
}
.wrapper h4 {
  height: 29px;
  width: 168px;
  margin-bottom: 20px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.donate {
  height: 233px;
  width: 220px;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 0px 4px 10px 0px rgba(53, 53, 53, 0.18);
  cursor: pointer;
  text-align: center;
  margin: 30px 0;
}
img {
  width: 150px;
  height: 180px;
  padding: 5px;
}
a {
  text-decoration: none;
}
p {
  height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
  text-align: center;
  color: #434c5b;
  margin: 10px 0;
}
.main {
  margin: 0 32.5px;
}
button {
  display: block;
  width: 100%;
  height: 56px;
  border: 1px solid #fe8e66;
  color: #fe8e66;
  border-radius: 5px;
  margin: 30px 0;
  background: #fff;
}

/* WEB SCREEN */
@media (min-width: 600px) {
  body {
    background: rgba(40, 40, 40, 0.65);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper {
    height: 532px;
    width: 837px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    padding: 30px 104px;
    align-items: center;
  }
  .wrapper h4 {
    height: 29px;
    width: 168px;
    margin: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
  }
  .main {
    display: flex;
    justify-content: space-between;
    margin: 34px 0;
  }
  .donate {
    height: 326px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(53, 53, 53, 0.18);
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
  }
  img {
    width: 220px;
    height: 220px;
    padding: 5px;
  }
  a {
    text-decoration: none;
  }
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #434c5b;
    margin: 10px 0;
  }
  header,
  button {
    display: none;
  }
}
