@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@300;400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.web-view {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-gap: 5px;
  grid-template-areas:
    "side head"
    "side  main"
    "side  main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 290px 1fr;
}
.web-view > .sidebar {
  grid-area: side;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 2px 10px rgba(17, 17, 17, 0.4);
  position: fixed;
}
.sidebar .logo-details {
  height: 80px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar .logo-details i {
  font-size: 24px;
  font-weight: 500;
  color: #fe8e66;
}
#toggle {
  color: #dadada;
}
.sidebar .logo-details .logo-name {
  font-size: 24px;
  font-weight: 600;
  color: #fe8e66;
}
.sidebar .nav-links {
  margin-top: 16px;
}
.sidebar .nav-links li:nth-child(5) {
  margin-top: 56px;
}
.sidebar .nav-links li {
  height: 50px;
  width: 100%;
  list-style: none;
  display: flex;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #434c5b;
  font-size: 18px;
  transition: all 0.4s ease;
}
.sidebar .nav-links li div {
  position: relative;
}
.nav-links > li > div > span {
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #fe8e66;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  right: 18px;
}
.sidebar .nav-links li a:hover {
  background: #f0f0f0;
}
.sidebar .nav-links li a:focus {
  background: #f0f0f0;
  color: #fe8e66;
}
.sidebar .nav-links li a i {
  min-width: 60px;
  text-align: center;
  font-size: 20px;
}

.web-view > .header {
  grid-area: head;
  background-color: #ffa08c;
}
div.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  align-items: center;
  padding: 0 15px;
}
.header .search-box {
  margin-left: 20px;
  position: relative;
  color: #aeb4ca;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}
.header .search-box input {
  border: none;
  font-size: 14px;
  width: 200px;
  height: 50px;
  padding-left: 35px;
}
.header .search-box i {
  position: absolute;
  top: 20px;
  left: 7px;
  font-size: 16px;
}
.profile-details {
  width: 350px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
}
.profile-details .far {
  width: 22px;
  height: 22px;
  padding-top: 10px;
  font-size: 20px;
  color: #b4b0b0;
}
.profile-details span {
  font-size: 10px;
  width: 13px;
  height: 13px;
  text-align: center;
  background: #fe8e66;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 14px;
}
.profile-details .donor {
  width: 180px;
  height: 50px;
  margin: 0 20px;
}
.profile-details .donor-name,
.profile-details small {
  float: right;
}
.profile-details .img {
  border-radius: 50%;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.pngitem.com/pimgs/m/404-4042710_circle-profile-picture-png-transparent-png.png);
}
.profile-details .fas {
  padding-top: 10px;
  width: 7.5px;
  height: 4px;
}
.main {
  grid-area: main;
  background: #dadada;
}
.main-container {
  background-color: #fff;
  padding: 45px 33px;
  border: 1px solid #aeb4ca;
  border-radius: 5px;
  margin: 12px;
  height: 98%;
}
.container-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.container-one-heading {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
}
.container-one-icon {
  display: flex;
  width: 35%;
  justify-content: space-between;
  height: 48px;
  line-height: 48px;
}
.container-one-icon > span {
  margin-left: 11px;
}
.container-one-icon > button {
  width: 150px;
  height: 48px;
  background: #fe8e66;
  border: 1px solid #aeb4ca;
  border-radius: 5px;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
  cursor: pointer;
}
table {
  width: 100%;
  text-align: center;
  border: 1px solid #aeb4ca;
  padding: 0 8px;
  border-collapse: collapse;
}

th {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  height: 56px;
  border-bottom: 1px solid #aeb4ca;
  background: #e5e5e5;
}

td {
  height: 52px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 28px 0;
  border-bottom: 1px solid #aeb4ca;
}
td > div {
  text-align: center;
  display: inline-block;
}
td > div.status-alert {
  border-radius: 100px;
  color: #e1a800;
  height: 24px;
  background: #e1a8001f;
  margin-right: 20px;
  width: 100px;
}

td > div.status-alert-2 {
  border-radius: 100px;
  color: #29cc97;
  height: 24px;
  background: #29cc971f;
  margin-right: 20px;
  width: 100px;
}
.pages {
  color: #a4a6b3;
  justify-content: flex-end;
  display: flex;
  padding: 27px 0;
  margin-top: 200px;
}
.pages > div {
  margin: 0 15px;
}
.pages > i {
  padding: 0 10px;
}
.pages > div > span {
  padding: 0 8px;
}
